{{#partial "contenido" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Usuario</title>
        <link rel="stylesheet" type="text/css" href="css/AgregarUsuario.css">
    </head>
    <body>
    <div class="container">
        <div class="add-user-box">
            <h1>Agregar Usuario</h1>

            <div class="input-section">
                <h3>Seleccione un Usuario:</h3>
                <select id="selector-usuario">
                    {{#each miembros}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-section">
                <h3>Comunidad:</h3>
                <select id="selector-comunidad">
                    {{#each miembros}}
                        {{#each comunidadesPertenecientes}}
                            <option value="{{this.id}}">{{this.nombre}}</option>
                        {{/each}}
                    {{/each}}
                </select>
            </div>

            <div class="input-section">
                <h3>Establezca su Rol:</h3>
                <select id="selector-rol">
                    {{#each miembros}}
                        {{#each rolesServicios}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    {{/each}}
                </select>
            </div>

            <div class="input-section">
                <h3>Establezca su Función:</h3>
                <select id="selector-funcion">
                        {{#each miembros}}
                            option value="{{#if (esAdmin)}}true{{else}}false{{/if}}">Administrador</option> // esto hace lo q vos queres ale sgun chatgpt
                <option value="admin">Administrador </option>

                <option value="miembro">Miembro</option>
                        {{/each}}
                </select>
            </div>

            <div class="button-section">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
    </body>
    </html>
{{/partial}}
{{> templates/base }}
