{{#partial "contenido" }}
<!DOCTYPE html> <!--  No se si hay que borrar esto -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidente</title>
    <link rel="stylesheet" type="text/css" href="../public/css/datosIncidente.css">
</head>
<body>
    <div class="container">
        <div class="incident-box">
            <h1>Incidente</h1>

            <div class="column">
                <div class="input-section">
                    <h3>{{this.Nombre}}:</h3>
                    <div class="info-box">Nombre del Incidente</div>
                </div>

                <div class="input-section">
                    <h3>{{this.Servicio.nombre}}:</h3>
                    <div class="info-box">Nombre del Servicio</div>
                </div>

                <div class="input-section">
                    <h3>{{this.Establecimiento.nombre}}:</h3>
                    <div class="info-box">Nombre del Establecimiento</div>
                </div>

                <div class="input-section">
                    <h3>{{this.Entidad.nombre}}:</h3>
                    <div class="info-box">Nombre de la Entidad</div>
                </div>
            </div>

            <div class="column">
                <div class="input-section">
                    <h3>{{this.Comunidad.nombre}}:</h3>
                    <div class="info-box">Nombre de la Comunidad</div>
                </div>`

                <div class="input-section">
                    <h3>{{this.Observaciones}}:</h3>
                    <div class="info-box">Observaciones del Incidente</div>
                </div>

                <div class="input-section">
                    <h3>{{this.quienAbrio.nombre}} por:</h3>
                    <div class="info-box">Nombre del Reportante</div>
                </div>

                {{#if fechaCierre}}
                    <div class="input-section">
                        <h3>{{this.quienCerro.nombre}}</h3>
                        <div class="info-box">Nombre del Encargado del Cierre</div>
                    </div>
                {{/if}}


            </div>
        </div>
    </div>
</body>
</html>
{{/partial}}
{{> templates/base }}