{{#partial "contenido"}}
    <title>Admin Usuarios</title>
    <link rel="stylesheet" type="text/css" href="/css/filtroUsuarios.css">
    <div class="container">
        <h1 class="text-center">Usuarios</h1>
        <div class="filtro-box">
            <select id="filtro">
                <option value="" disabled selected>Filtrar por...</option>
                <option value="nombre">Nombre</option>
                <option value="apellido">Apellido</option>
                <option value="rol">Rol</option>
                <option value="email">Email</option>
                <option value="validado">Autorizacion</option>
            </select>
            <input type="text" id="busqueda" placeholder="Buscar..." />
            <button id="buscar">Buscar</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Rol Actual</th>
                    <th>Nuevo Rol</th>
                    <th>Permiso Actual</th>
                    <th>Nuevo Permiso</th>
                </tr>
                </thead>
                <tbody id="tabla-usuarios">
                {{#each usuarios}}
                    <tr data-id="{{this.id}}">
                        <td>{{this.nombre}}</td>
                        <td>{{this.apellido}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.rolUsuario}}</td>
                        <td>
                            <select class="rol-select">
                                <option value="" >Selecciona un rol</option>
                                <option value="0">Miembro</option>
                                <option value="1">Organismo de Control</option>
                                <option value="2">Entidad Prestadora</option>
                                <option value="3">Administrador de Plataforma</option>
                            </select>
                        </td>
                        <td>
                            {{#if this.validado}}
                                Autorizado
                            {{else}}
                                No Autorizado
                            {{/if}}
                        </td>
                        <td>
                            <select class="validado-select">
                                <option value="">Selecciona un permiso</option>
                                <option value="true" {{#if this.validado}}selected{{/if}}>Autorizado</option>
                                <option value="false" {{#unless this.validado}}selected{{/unless}}>No Autorizado</option>
                            </select>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <button id="agregarUsuario">Validar Usuarios</button>
    </div>

    <script src="/js/filtroUsuarios.js"></script>
{{/partial}}
{{> templates/base }}
