{{#partial "contenido" }}
    <title>Admin Usuarios</title>
    <link rel="stylesheet" type="text/css" href="/css/filtroUsuarios.css">
    <div class="container">
        <h1 class="text-center">Usuarios</h1>
        <div class="filtro-box">
            <select id="filtro">
                <option value="" disabled selected>Filtrar por...</option>
                <option value="nombre">Nombre</option>
                <option value="apellido">Apellido</option>
                <option value="rol">Rol</option>
                <option value="email">Email</option>
                <option value="validado">Autorizacion</option>
            </select>
            <input type="text" id="busqueda" placeholder="Buscar..." />
            <button id="buscar">Buscar</button>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Validado</th>
                    </tr>
                </thead>
                <tbody id="tabla-usuarios">
                {{#each usuario}}
                    <tr data-id="{{this.id}}">
                        <td>{{this.nombre}}</td>
                        <td>{{this.apellido}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.rolUsuario}}</td>
                        <td>{{this.validado}}</td>
                    </tr>
                {{/each}}
                    <!-- Los usuarios se cargarán aquí de forma dinámica -->
                </tbody>
            </table>
        </div>
        <button id="agregarUsuario">Validar Usarios</button>
    </div>
    <script src="filtrousuarios.js"></script>

{{/partial}}
{{> templates/base }}