{{#partial "contenido" }}
    <title>Reportar incidente</title>
    <link rel="stylesheet" href="/css/ReportarIncidente.css">
    <!-- Contenido principal de tu página -->
    <div class="container">
        <div class="report-incident-box">
            <h2>Reportar Incidente</h2>

            <form action="/incidentes/reportar" method="post" enctype="multipart/form-data">
                <div class="input-section">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" placeholder="Introduzca el nombre" name="nombre" required>
                </div>

                <div class="input-section">
                    <label for="comunidad">Comunidad</label>
                    <select id="comunidad" name="comunidad">
                        {{#each comunidades}}
                            <option value="{{this.nombre}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="input-section">
                    <label for="observaciones">Observaciones</label>
                    <textarea id="observaciones" name="observaciones" placeholder="Introduzca sus observaciones" rows="4"></textarea>
                </div>

                <div class="input-section">
                    <label for="establecimientos">Seleccionar Establecimiento</label>
                    <select id="establecimiento" name="establecimiento" >
                        {{#each establecimientos}}
                            <option value="{{this.nombre}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="input-section">
                    <label for="servicios">Seleccionar Servicio</label>
                    <select id="servicio" name="servicio">
                        {{#each servicios}}
                            <option value="{{this.nombre}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>
                </div>


                <div class="button-section">
                    <button type="submit">Enviar Reporte</button>
                </div>
            </form>
        </div>
    </div>

    <!--<script src="js/generales.js"></script>   puede o no puede servir-->
{{/partial}}
{{> templates/base }}
